.itemcard{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
    border-radius: 6px;
    border: 3px solid black;
    cursor: pointer;
}


.itemcard .image{
    position: relative;
    /*object-fit: cover; AJUSTA LA IMAGEN DE ACUERDO AL CONTENEDOR*/
    
}


.itemcard .image::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Color oscuro con opacidad */
    opacity: 0;
    transition: .5s;
}

.itemcard .image:hover::before{
    opacity: 1;
}

.itemcard .info-card{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: #F7F7F7;
    
}

.itemcard .info-card button {
    height: 40px;
    width: 100px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemcard .info-card h4{
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}

.itemcard .info-card span{
    padding: 10px 0px;
    font-weight: 800;
}

.itemcard .info-card button .link{
    text-decoration: none;
    color: white;
}



/**************POPUP-WINDOW************************/

.modal-container{
    z-index: 999;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none; 
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.modal {
    position: absolute;
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    pointer-events: auto;
}

.modal-container{
    pointer-events: none;
}
